:root {
  --white: #ffffff;
  --green: #74b71b;
  --hover-green: #92e600;
  --hover-dark-green: #649e00;
  --green-fonts: #76b900;
  --black: #000000;
  --dull-gray: #747474;
  --footer-gray: #666666;

  --commom-margin-left: 8.1vw;
  --common-gap: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid #919191; */
}

body {
  font-family: "Roboto", sans-serif;
}

/* header section start */
.header-section {
  background-color: var(--white);
  padding: 0 11.9vw 0 var(--commom-margin-left);
  border-bottom: 1px solid #e6e6e66c;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10;
}

.navbar {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .navbar-left-section {
  display: flex;
  gap: 28px;
}

.brand {
  width: 115px;
  height: 28px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.navbar .navbar-left-section .nav-links,
.navbar .navbar-right-section .nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}
.nav-links li {
  font-size: 0.98rem;
  opacity: 55%;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-links li:hover {
  opacity: 80%;
}

.navbar .navbar-right-section {
  display: flex;
}

.navbar .navbar-right-section .search-user {
  display: flex;
  gap: 16px;
  margin-left: 18px;
}

.navbar .navbar-right-section .search-user .search,
.navbar .navbar-right-section .search-user .user {
  width: 20px;
  height: 20px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* header section end */

/* hero section start  */
.hero-section {
  display: flex;
  gap: 18px;
  padding: 5.2vw 0 0 var(--commom-margin-left);
  box-sizing: border-box;
}
.section-left {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 22px;

  button {
    background-color: var(--green);
    font-size: 1.1rem;
    font-weight: 700;
    width: fit-content;
    padding: 16px;
    border: none;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: var(--hover-green);
  }
}
.section-left .sub-heading {
  font-size: 1.5rem;
  font-weight: 600;
}
.section-left .heading {
  font-size: 3rem;
  font-weight: 700;
}
.section-left .description {
  font-size: 1.4rem;
  line-height: 1.8;
  font-weight: 300;
}
.section-right {
  width: max-content;
}
.section-right .image-wrapper {
  display: grid;
  place-items: center; 
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/* hero section end  */

.hero-section-indicators {
  margin: 5.2vw 5.2vw 0 var(--commom-margin-left);
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.hero-section-indicators .indicator {
  flex: 1;
  cursor: pointer;
  opacity: 55%;
  transition: all 0.3s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

}
.hero-section-indicators .indicator:hover{
  opacity: 100%;
}

.hero-section-indicators .indicator .indicator-heading {
  font-size: 0.688rem;
  font-weight: 700;
  padding-bottom: 14px;
}

.hero-section-indicators .indicator .indicator-paragraph {
  font-size: 0.98rem;
  line-height: 1.6;
}


/* explore ribbon start   */
.explore-ribbon{
  background-color: var(--black);
  margin: 2.8rem 0 0 0;
}
.content-container{
  background-image: url("../images/NIM-API-Catalog-banner-sm-offset-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  margin: 3.2rem 0; 
  padding: 4vh 11.9vw 0 var(--commom-margin-left);
  color: var(--white);
  h1{
    font-size: 36px;
    width: 600px;
    font-weight: 700;
    line-height: 1.25em;
  }
  p{
    padding: 10px 0;
    display: block;
    font-size: 15px;
    line-height: 1.666em;
    width: 600px;
  }
  .explore-link{
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    display: block;
    padding: 10px 0;
  }
}
/* explore ribbon end   */

/* courosals slider styles start  */
.courosal-section{
  padding: 0 0 0 var(--commom-margin-left);
  margin: 2.8rem 0;
}

.courosal-section .section-title{
  display: flex;
  justify-content: space-between;
  padding-right: 5.2vw;
  h1{
    margin: 1.1rem 0;
    font-size: 36px;
    font-weight: 700;
  }

  .btns{
    display: flex;
    gap: 16px;
    margin-right: 4%;
  }
  button{
    margin: auto;
    width: 30px;
    height: 34px;
    display: flex;
    justify-content: center;
    padding: 8px 6px;
    background-color: var(--green);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    img{
      width: 100%;
      height: auto;
    }
  }
  button:hover{
    background-color: var(--hover-green);
  }
}

.slider{
  position: static;
  display: grid;
  grid-auto-flow: column;
  /* grid-template-columns: auto; */
  overflow-x: scroll;
  scroll-behavior: smooth;
  gap: var(--common-gap);
  /* padding: 14px 0 14px 0; */
  padding: 14px 28px var(--common-gap) 0;

}

.slider::-webkit-scrollbar {
  width: 4px;
  height: 6px;
  background-color: #f0f0f0;
  margin-right: var(--commom-margin-left);
}

.slider::-webkit-scrollbar-track {
  background-color: #c0c0c0;
}

.slider::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 4px; 
}

.slider::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-dark-green); 
}

.slider .section-introduction{
  width: 500px;
  padding: 8px 0;
  p{
    line-height: 1.666em;
    font-size: 1.4rem;
    font-weight: 300;
  }
  .links{
    margin-top: 18px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    i{
      color: var(--green);
      padding-right: 8px;
    }
  }
}

.slider .cards-wrapper{
  height: 536px;
  display: flex;
  gap: var(--common-gap);
}

.slider .cards-wrapper .card{
  width: 388px;
  height: 100%;
  border-radius: 2px;
  box-shadow: 0 0 8px #4d4d4d55, 0 0 8px #4e4e4e40;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.slider .cards-wrapper .card:hover{
  box-shadow: 0 0 18px #4d4d4d55, 0 0 18px #4e4e4e40;
}

.card .card-image{
  overflow: hidden;
  img{
    width: 100%;
  }
}

.card .card-contents{
  padding: 0 18px;
  .card-sub-heading{
    margin: 30px 0;
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0;
    padding-top: 0;
  }
  h3{
    margin: 0 0 30px 0;
    font-size: 20px;
  }
  p{
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.666em;
  }
}
/* courosals slider styles end  */

/* footer styles start  */
.footer-section .footer-navigations{
  background-color: var(--black);
  padding: 0 var(--commom-margin-left);
}

.footer-navigations .navigations-wrapper{
  padding: 3.5% 0;
  color: #f0f0f0;
}

.navigations-wrapper .general-nav-links{
  display: flex;
  gap: var(--common-gap);
  justify-content: space-between ;
}

.general-nav-links .links-section{
  flex: 1;
  min-width: 0;
  .section-title{
    border-bottom: 1px solid var(--footer-gray);
    padding-bottom: 12px;
    h2{
      color: var(--white);
    }
  }
  .section-links{
    padding: 18px 0;
    ul{
      list-style: none;
      li{
        color: var(--green-fonts);
        margin-bottom: 20px;
        font-size: 0.98rem;
        cursor: pointer;
      }
    }
  }
}

.navigations-wrapper .socials-links{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  height: 50px;
}

.socials-links .email-container{
  display: flex;
  gap: var(--common-gap);
  height: 100%;
  span{
    margin: auto;
    font-size: 18px;
  }
  .email-image{
    height: 100%;
    img{
      height: 100%;
      object-fit: contain;
    }
  }
  button{
    background-color: var(--hover-dark-green);
    padding: 13px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25em;
    transition: background-color 0.3s ease;
  }
  button:hover{
    background-color: var(--hover-green);
  }
}

.socials-links .other-socials{
  display: flex;
  height: 100%;
  span{
    color: var(--footer-gray);
    font-weight: 300;
    font-size: 1pc;
    margin: auto 30px auto 0;
  }
  .socials-icons{
    display: flex;
    gap: 18px;
    margin: auto;
    height: 40px;
    .icon{
      margin: auto;
      i{
        font-size: 24px;
        color: var(--footer-gray);
        transition: color 0.3s ease-in;
      }
      i:hover{
        color: var(--white);
      }
    }
  }
}

.footer-section .footer-closing{
  background-color: var(--white);
  padding: 0 var(--commom-margin-left);
}

.footer-closing .footer-closing-content-wrapper{
  padding: 36px 0;
  margin: auto;
  .copyright{
    color: var(--footer-gray);
    font-size: 9pt;
  }
}

.brand-country{
  display: flex;
  justify-content: space-between;
  p{
    font-size: 17px;
    font-weight: 800;
    color: var(--footer-gray);
  }
}

.closing-links{
  margin-top: 24px;
  ul{
    display: flex;
    list-style: none;
    padding-bottom: 14px;
    li{
      color: var(--footer-gray);
      padding-right: 14px;
      font-size: 1pc;
      cursor: pointer;
    }
    li:hover{
      color: #333333;
    }
    li::after {
      content: " |";
      color: var(--footer-gray); 
      margin-left: 5px; 
    }
    li:last-child::after{
      content: "";
    }
  }
}
/* footer styles end  */